{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "indent": [
      "warn",
      2,
      {
        "MemberExpression": "off",
        "SwitchCase": 1,
        "CallExpression": {"arguments": "first"}
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "one-var": 0,
    "brace-style": ["error", "stroustrup"],
    "curly": ["error", "multi-or-nest"],
    "operator-linebreak": ["warn", "before"],
    "react/prop-types": 0
  }
}
