html, body, #root, .chat{
  height: 100%;
}

.chat {
  overflow: hidden;
}

.chat > div:not(.modal){
  background-color: #fff;
  font-size: 14px;
  min-width: 500px;
}

.list-conversations{
  max-width: 420px;
  min-width: 240px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  width: 25%;
}

.conversation{
  border-left: 1px solid rgba(0, 0, 0, .20);
  display: flex;
  margin-left: 25%;
  flex: 3;
  flex-direction: column;
  min-width: 0;
  margin: 0 auto 0 25%;
  max-width: initial;
}
